<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarryAndForwardAgent.Properties.Settings.CarryandForwardAgentConnectionString"
            connectionString="Data Source=ANIKETSONI\SQLEXPRESS;Initial Catalog=CarryandForwardAgent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>